.card {
    height: 27rem;
    position: relative;
    -webkit-perspective: 1500px;
    perspective: 1500px;
}

.card-side {
    transition: all 2s linear;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: var(--radius);
    transform: translate3d(0, 0, 0);
    visibility: visible;
}

.card-front {
    background: rgba(63, 71, 87, 0.89);
}
.card-back {
    background: rgba(84, 96, 117, 0.801);
    transform: rotateY(-180deg);
    display: grid;
    place-items: center;
}

.card:hover .card-front {
    transform: rotateY(-180deg);
}

.card:hover .card-back {
    transform: rotateY(0);
}

.card-info {
    padding: 1rem 1.5rem;
    color: #fff;
}

.card-front img {
    height: 13rem;
    object-fit: cover;
    border-top-right-radius: var(--radius);
}

.card-footer {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
}

.card-footer img {
    width: 2rem;
    height: 2rem;
    object-fit: cover;
    border-radius: 50%;
}

.card-footer p {
    margin-bottom: 0;
    text-transform: uppercase;
    justify-self: end;
    color: rgb(255, 255, 255);
    font-size: .85rem;
}

.blog-center {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
    gap: 3rem 1rem;
}

.blogs-btn-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;  
}

.blogs-btn {
    padding: 0.8em 1.8em;
    border: 2px solid #17C3B2;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    transition: .3s;
    z-index: 1;
    font-family: inherit;
    color: #17C3B2;
   }
   
   .blogs-btn::before {
    content: '';
    width: 0;
    height: 300%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: #17C3B2;
    transition: .5s ease;
    display: block;
    z-index: -1;
   }
   
   .blogs-btn:hover::before {
    width: 105%;
   }
   
   .blogs-btn:hover {
    color: #111;
   }
   

   .hero-btn {
       border: 3px solid #fff;
       padding: .8rem 1.2rem;
       color: #fff;
       border-radius: 2px;
   }

   