.projects-text {
    width: 85vw;
    max-width: 30rem;
    margin: 0 auto;
    color: #fff;
  }
  .project {
    position: relative;
    background: rgba(103, 0, 143, 0.493);
    border-radius: var(--radius);
    margin-bottom: 2rem;
  }
  .project-info {
    text-align: center;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transition: all 0.3s ease-in-out;
    opacity: 0;
  }
  .project:hover .project-info {
    opacity: 1;
  }
  .project-img {
    transition: all 0.3s ease-in-out;
    border-radius: var(--radius);
    height: 15rem;
    -o-object-fit: cover;
    object-fit: cover;
  }
  .project:hover .project-img {
    opacity: 0.1;
  }
  .project::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0.25rem solid #fff;
    border-radius: var(--radius);
    transition: all 0.3s ease-in-out;
    opacity: 0;
  }
  .project:hover::after {
    opacity: 1;
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }

  .project-btn-wrapper {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 1.5rem;  
  }

  .project-btn {
    border: none;
    display: block;
    position: relative;
    padding: 0.7em 2.4em;
    font-size: 18px;
    background: transparent;
    cursor: pointer;
    user-select: none;
    overflow: hidden;
    color: royalblue;
    z-index: 1;
    font-family: inherit;
    font-weight: 500;
   }
   
   .project-btn span {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: -1;
    border: 4px solid royalblue;
   }
   
   .project-btn span::before {
    content: "";
    display: block;
    position: absolute;
    width: 8%;
    height: 500%;
    background: var(--lightgray);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-60deg);
    transition: all 0.3s;
   }
   
   .project-btn:hover span::before {
    transform: translate(-50%, -50%) rotate(-90deg);
    width: 100%;
    background: royalblue;
   }
   
   .project-btn:hover {
    color: white;
   }
   
   .project-btn:active span::before {
    background: #2751cd;
   }

  @media screen and (min-width: 676px) {
    .projects-center {
      display: grid;
      grid-template-columns: 1fr 1fr;
      -webkit-column-gap: 2rem;
      -moz-column-gap: 2rem;
      column-gap: 2rem;
    }
  }
  @media screen and (min-width: 992px) {
    .projects-center {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  @media screen and (min-width: 1170px) {
    .projects-center {
      grid-template-rows: 200px 200px;
      gap: 1rem;
      grid-template-areas:
        "a b b"
        "a c d";
    }
    .project-img {
      height: 100%;
    }
    .project {
      height: 100%;
    }
    .project-1 {
      grid-area: a;
    }
    .project-2 {
      grid-area: b;
    }
    .project-3 {
      grid-area: c;
    }
    .project-4 {
      grid-area: d;
    }
  }